1.Write a function called get_manager that takes as its one argument the Pandas DataFrame "Employees" and returns a DataFrame containing list of all employees (EmployeeID, first name, middle name, last name), and their manager's first and last name. The columns in the output DataFrame should be: EmployeeID, FirstName, MiddleName, LastName, ManagerFirstName, ManagerLastName. 

Hint: Consider joining the"Employees" table by itself as managers are employees themselves. Choose the right columns to merge on.

In [2]:
import pandas as pd
import numpy as np

In [68]:
employee = pd.read_excel("~/Desktop/DataProg/Employees.xls")
sale = pd.read_excel("~/Desktop/DataProg/SalesTerritory.xls")
customer = pd.read_excel("~/Desktop/DataProg/Customers.xls")
order = pd.read_excel("~/Desktop/DataProg/ItemsOrdered.xls")

In [69]:
employee

,EmployeeID,ManagerID,TerritoryID,Title,FirstName,MiddleName,LastName,Suffix,JobTitle,NationalIDNumber,...,SickLeaveHours,PhoneNumber,PhoneNumberType,EmailAddress,AddressLine1,AddressLine2,City,StateProvinceName,PostalCode,CountryName
0,259,250.0,NaN,NaN,Ben,T,Miller,NaN,Buyer,20269531,...,47,151-555-0113,Work,ben0@adventure-works.com,101 Candy Rd.,NaN,Redmond,Washington,98052,United States
1,278,274.0,6.0,NaN,Garrett,R,Vargas,NaN,Sales Representative,234474252,...,36,922-555-0165,Work,garrett1@mapleleafmail.ca,10203 Acorn Avenue,NaN,Calgary,Alberta,T2P 2G8,Canada
2,204,26.0,NaN,NaN,Gabe,B,Mares,NaN,Production Technician - WC40,440379437,...,48,310-555-0117,Work,gabe0@adventure-works.com,1061 Buskrik Avenue,NaN,Edmonds,Washington,98020,United States
3,78,26.0,NaN,NaN,Reuben,H,D'sa,NaN,Production Supervisor - WC40,370989364,...,56,191-555-0112,Work,reuben0@adventure-works.com,1064 Slow Creek Road,NaN,Seattle,Washington,98104,United States
4,255,250.0,NaN,NaN,Gordon,L,Hee,NaN,Buyer,466142721,...,46,230-555-0144,Cell,gordon0@adventure-works.com,108 Lakeside Court,NaN,Bellevue,Washington,98004,United States
5,66,26.0,NaN,NaN,Karan,R,Khanna,NaN,Production Technician - WC60,834186596,...,34,447-555-0186,Work,karan0@hotmail.com,1102 Ravenwood,NaN,Seattle,Washington,98104,United States
6,270,263.0,NaN,NaN,François,P,Ajenstat,NaN,Database Administrator,643805155,...,53,785-555-0110,Cell,françois0@yahoo.com,1144 Paradise Ct.,NaN,Issaquah,Washington,98027,United States
7,22,16.0,NaN,NaN,Sariya,E,Harnpadoungsataya,NaN,Marketing Specialist,95958330,...,42,399-555-0176,Work,sariya0@adventure-works.com,1185 Dallas Drive,NaN,Everett,Washington,98201,United States
8,161,26.0,NaN,NaN,Kirk,J,Koenigsbauer,NaN,Production Technician - WC45,275962311,...,57,669-555-0150,Work,kirk0@hotmail.com,1220 Bradford Way,NaN,Seattle,Washington,98104,United States
9,124,250.0,NaN,NaN,Kim,T,Ralls,NaN,Stocker,420776180,...,69,309-555-0129,Work,kim0@adventure-works.com,1226 Shoe St.,NaN,Bothell,Washington,98011,United States
10,10,25.0,NaN,NaN,Michael,NaN,Raheem,NaN,Research and Development Manager,879342154,...,64,330-555-2568,Work,michael6@adventure-works.com,1234 Seaside Way,NaN,San Francisco,California,94109,United States
11,248,249.0,NaN,NaN,Mike,K,Seamans,NaN,Accountant,480951955,...,49,927-555-0150,Work,mike0@safe-mail.net,1245 Clay Road,NaN,Index,Washington,98256,United States
12,175,26.0,NaN,NaN,Reed,T,Koch,NaN,Production Technician - WC30,259388196,...,31,678-555-0110,Work,reed0@hotmail.com,1275 West Street,NaN,Redmond,Washington,98052,United States
13,155,26.0,NaN,NaN,Fadi,K,Fakhouri,NaN,Production Technician - WC20,212801092,...,28,935-555-0116,Work,fadi0@adventure-works.com,1285 Greenbrier Street,NaN,Snohomish,Washington,98296,United States
14,144,26.0,NaN,NaN,Paul,R,Singh,NaN,Production Technician - WC20,886023130,...,23,727-555-0112,Cell,paul1@safe-mail.net,1343 Prospect St,NaN,Bellevue,Washington,98004,United States
15,192,26.0,NaN,NaN,Brenda,M,Diaz,NaN,Production Supervisor - WC40,634335025,...,55,142-555-0139,Work,brenda0@adventure-works.com,1349 Steven Way,NaN,Seattle,Washington,98104,United States
16,166,26.0,NaN,NaN,Jack,S,Richins,NaN,Production Supervisor - WC30,60114406,...,54,552-555-0111,Work,jack0@adventure-works.com,1356 Grove Way,NaN,Monroe,Washington,98272,United States
17,112,26.0,NaN,NaN,John,P,Evans,NaN,Production Technician - WC50,981597097,...,65,172-555-0130,Cell,john1@gmail.com,136 Balboa Court,NaN,Seattle,Washington,98104,United States
18,203,26.0,NaN,NaN,Ken,L,Myer,NaN,Production Technician - WC40,693168613,...,45,949-555-0174,Work,ken1@adventure-works.com,1362 Somerset Place,NaN,Calgary,Alberta,T2P 2G8,Canada
19,245,249.0,NaN,NaN,Barbara,C,Moreland,NaN,Accountant,363910111,...,49,822-555-0145,Cell,barbara1@adventure-works.com,137 Mazatlan,NaN,Seattle,Washington,98104,United States
20,257,250.0,NaN,NaN,Eric,S,Kurjan,NaN,Buyer,381073001,...,47,265-555-0195,Work,eric2@hotmail.com,1378 String Dr,NaN,Renton,Washington,98055,United States
21,244,249.0,NaN,NaN,Bryan,A,Walton,NaN,Accounts Receivable Specialist,931190412,...,51,935-555-0199,Work,bryan1@aol.com,1397 Paradise Ct.,NaN,Calgary,Alberta,T2P 2G8,Canada
22,69,26.0,NaN,NaN,Steve,F,Masters,NaN,Production Technician - WC60,752513276,...,35,712-555-0170,Work,steve0@adventure-works.com,1398 Yorba Linda,NaN,Seattle,Washington,98104,United States
23,210,26.0,NaN,NaN,Belinda,M,Newman,NaN,Production Technician - WC45,20244403,...,61,319-555-0126,Cell,belinda0@adventure-works.com,1399 Firestone Drive,NaN,Bothell,Washington,98011,United States
24,163,26.0,NaN,NaN,Alex,M,Nayberg,NaN,Production Technician - WC45,377784364,...,58,819-555-0198,Work,alex0@adventure-works.com,1400 Gate Drive,NaN,Newport Hills,Washington,98006,United States
25,118,26.0,NaN,NaN,Don,L,Hall,NaN,Production Technician - WC50,222400012,...,64,100-555-0174,Work,don0@adventure-works.com,1411 Ranch Drive,NaN,Carnation,Washington,98014,United States
26,176,26.0,NaN,NaN,David,Oliver,Lawrence,NaN,Production Technician - WC30,860123571,...,34,118-555-0177,Work,david7@adventure-works.com,158 Walnut Ave,NaN,Monroe,Washington,98272,United States
27,147,26.0,NaN,NaN,Sandra,NaN,Reátegui Alayo,NaN,Production Technician - WC30,604664374,...,38,896-555-0168,Work,sandra0@adventure-works.com,1619 Stillman Court,NaN,Seattle,Washington,98104,United States
28,138,26.0,NaN,NaN,Samantha,H,Smith,NaN,Production Technician - WC20,25011600,...,23,587-555-0114,Cell,samantha0@safe-mail.net,1648 Eastgate Lane,NaN,Bellevue,Washington,98004,United States
29,95,26.0,NaN,NaN,Jim,H,Scardelis,NaN,Production Technician - WC50,674171828,...,20,679-555-0113,Work,jim0@safe-mail.net,172 Turning Dr.,NaN,Edmonds,Washington,98020,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,70,26.0,NaN,NaN,David,J,Ortiz,NaN,Production Technician - WC60,36151748,...,36,712-555-0119,Work,david2@adventure-works.com,931 Corte De Luna,NaN,Seattle,Washington,98104,United States
262,219,25.0,NaN,NaN,Sean,N,Chai,NaN,Document Control Assistant,242381745,...,59,205-555-0132,Cell,sean1@adventure-works.com,9314 Icicle Way,NaN,Issaquah,Washington,98027,United States
263,148,26.0,NaN,NaN,Jason,M,Watters,NaN,Production Technician - WC30,733022683,...,39,571-555-0179,Work,jason0@aol.com,9320 Teakwood Dr.,NaN,Bellevue,Washington,98004,United States
264,140,26.0,NaN,NaN,Prasanna,E,Samarawickrama,NaN,Production Technician - WC20,339233463,...,22,129-555-0199,Cell,prasanna0@safe-mail.net,9322 Driving Drive,NaN,Redmond,Washington,98052,United States
265,290,287.0,7.0,NaN,Ranjit,R,Varkey Chudukatil,NaN,Sales Representative,134219713,...,37,1 (11) 500 555-0117,Cell,ranjit0@adventure-works.com,"94, rue Descartes",NaN,Bordeaux,Gironde,33000,France
266,5,25.0,NaN,Ms.,Gail,A,Erickson,NaN,Design Engineer,695256908,...,22,849-555-0139,Cell,gail0@gmail.com,9435 Breck Court,NaN,Bellevue,Washington,98004,United States
267,252,250.0,NaN,NaN,Arvind,B,Rao,NaN,Buyer,792847334,...,50,848-555-0163,Cell,arvind0@adventure-works.com,9495 Limewood Place,NaN,Renton,Washington,98055,United States
268,266,263.0,NaN,NaN,Peter,I,Connelly,NaN,Network Administrator,672243793,...,54,310-555-0133,Work,peter1@adventure-works.com,9530 Vine Lane,NaN,Issaquah,Washington,98027,United States
269,233,227.0,NaN,NaN,Magnus,E,Hedlund,NaN,Facilities Administrative Assistant,552560652,...,63,583-555-0182,Work,magnus0@adventure-works.com,9533 Working Drive,NaN,Renton,Washington,98055,United States
270,83,26.0,NaN,NaN,Patrick,M,Cook,NaN,Production Technician - WC40,988315686,...,50,425-555-0117,Cell,patrick1@adventure-works.com,9537 Ridgewood Drive,NaN,Seattle,Washington,98104,United States
271,251,250.0,NaN,NaN,Mikael,Q,Sandberg,NaN,Buyer,603686790,...,49,309-555-0170,Work,mikael0@safe-mail.net,9539 Glenside Dr,NaN,Bothell,Washington,98011,United States
272,241,249.0,NaN,NaN,David,J,Liu,NaN,Accounts Manager,30845,...,48,646-555-0185,Work,david6@adventure-works.com,9605 Pheasant Circle,NaN,Gold Bar,Washington,98251,United States
273,25,1.0,NaN,NaN,James,R,Hamilton,NaN,Vice President of Production,519899904,...,52,870-555-0122,Work,james1@adventure-works.com,9652 Los Angeles,NaN,Monroe,Washington,98272,United States
274,108,26.0,NaN,NaN,Jinghao,K,Liu,NaN,Production Supervisor - WC50,630184120,...,58,794-555-0159,Cell,jinghao0@adventure-works.com,9666 Northridge Ct.,NaN,Carnation,Washington,98014,United States
275,239,235.0,NaN,NaN,Mindy,C,Martin,NaN,Benefits Specialist,619308550,...,45,522-555-0147,Work,mindy0@adventure-works.com,9687 Shakespeare Drive,NaN,Newport Hills,Washington,98006,United States
276,27,26.0,NaN,NaN,Jo,A,Brown,NaN,Production Supervisor - WC60,446466105,...,60,632-555-0129,Cell,jo0@adventure-works.com,9693 Mellowood Street,NaN,Duvall,Washington,98019,United States
277,186,26.0,NaN,NaN,Shane,S,Kim,NaN,Production Supervisor - WC45,551834634,...,57,810-555-0178,Cell,shane0@hotmail.com,9745 Bonita Ct.,NaN,Bellevue,Washington,98004,United States
278,38,26.0,NaN,NaN,Kim,B,Abercrombie,NaN,Production Technician - WC60,6298838,...,32,208-555-0114,Cell,kim1@yahoo.com,9752 Jeanne Circle,NaN,Carnation,Washington,98014,United States
279,154,26.0,NaN,NaN,Raymond,K,Sam,NaN,Production Technician - WC20,97728960,...,25,226-555-0197,Work,raymond0@safe-mail.net,9784 Mt Etna Drive,NaN,Edmonds,Washington,98020,United States
280,114,26.0,NaN,NaN,Mindaugas,J,Krapauskas,NaN,Production Technician - WC50,342607223,...,68,637-555-0120,Work,mindaugas0@hotmail.com,9825 Coralie Drive,NaN,Edmonds,Washington,98020,United States
281,123,250.0,NaN,NaN,Vamsi,N,Kuppa,NaN,Shipping and Receiving Clerk,337752649,...,67,937-555-0137,Work,vamsi0@hotmail.com,9833 Mt. Dias Blv.,NaN,Bothell,Washington,98011,United States
282,29,26.0,NaN,NaN,Mark,K,McArthur,NaN,Production Technician - WC60,948320468,...,29,417-555-0154,Work,mark1@adventure-works.com,9863 Ridge Place,NaN,Redmond,Washington,98052,United States
283,101,26.0,NaN,NaN,Houman,N,Pournasseh,NaN,Production Technician - WC50,153288994,...,21,180-555-0136,Cell,houman0@aol.com,9882 Clay Rde,NaN,Redmond,Washington,98052,United States
284,221,25.0,NaN,NaN,Chris,K,Norred,NaN,Control Specialist,260805477,...,57,575-555-0126,Cell,chris1@adventure-works.com,989 Crown Ct,NaN,Issaquah,Washington,98027,United States
285,18,16.0,NaN,NaN,John,L,Wood,NaN,Marketing Specialist,222969461,...,44,486-555-0150,Work,john5@aol.com,9906 Oak Grove Road,NaN,Redmond,Washington,98052,United States
286,46,26.0,NaN,NaN,Eugene,O,Kogan,NaN,Production Technician - WC60,66073987,...,38,173-555-0179,Cell,eugene1@hotmail.com,991 Vista Verde,NaN,Duvall,Washington,98019,United States
287,202,26.0,NaN,NaN,Tawana,G,Nusbaum,NaN,Production Technician - WC40,436757988,...,45,368-555-0113,Work,tawana0@adventure-works.com,9964 North Ridge Drive,NaN,Seattle,Washington,98104,United States
288,289,287.0,10.0,NaN,Jae,B,Pak,NaN,Sales Representative,668991357,...,38,1 (11) 500 555-0145,Work,jae0@aol.co.uk,Downshire Way,NaN,Cambridge,England,BA5 3HX,United Kingdom
289,288,287.0,8.0,NaN,Rachel,B,Valdez,NaN,Sales Representative,954276278,...,37,1 (11) 500 555-0140,Cell,rachel0@adventure-works.com,Pascalstr 951,NaN,Berlin,Hamburg,14111,Germany
290,999,1.0,NaN,NaN,Chadwick,NaN,Smith,NaN,BI Professor,123456789,...,47,555-887-9788,Work,chadwick.smith@rentpath.com,565 Peachtree Rd.,NaN,Atlanta,Georgia,30084,United States

In [74]:
def get_manager(employee):
    emp = employee[['EmployeeID', 'FirstName', 'MiddleName', 'LastName','ManagerID']]
    manager = employee[['EmployeeID', 'FirstName', 'LastName']]
    manager.columns = ['EmployeeID_man', 'ManagerFirstName', 'ManagerLastName']
    emp_man = pd.merge(emp, manager, 'left', 
                      left_on = ['ManagerID'],
                      right_on = ['EmployeeID_man'])
    
    emp_man = emp_man.drop(['ManagerID', 'EmployeeID_man'], axis=1)
    
    return emp_man

In [75]:
get_manager(employee)

,EmployeeID,FirstName,MiddleName,LastName,ManagerFirstName,ManagerLastName
0,259,Ben,T,Miller,Sheela,Word
1,278,Garrett,R,Vargas,Stephen,Jiang
2,204,Gabe,B,Mares,Peter,Krebs
3,78,Reuben,H,D'sa,Peter,Krebs
4,255,Gordon,L,Hee,Sheela,Word
5,66,Karan,R,Khanna,Peter,Krebs
6,270,François,P,Ajenstat,Jean,Trenary
7,22,Sariya,E,Harnpadoungsataya,David,Bradley
8,161,Kirk,J,Koenigsbauer,Peter,Krebs
9,124,Kim,T,Ralls,Sheela,Word
10,10,Michael,NaN,Raheem,James,Hamilton
11,248,Mike,K,Seamans,Wendy,Kahn
12,175,Reed,T,Koch,Peter,Krebs
13,155,Fadi,K,Fakhouri,Peter,Krebs
14,144,Paul,R,Singh,Peter,Krebs
15,192,Brenda,M,Diaz,Peter,Krebs
16,166,Jack,S,Richins,Peter,Krebs
17,112,John,P,Evans,Peter,Krebs
18,203,Ken,L,Myer,Peter,Krebs
19,245,Barbara,C,Moreland,Wendy,Kahn
20,257,Eric,S,Kurjan,Sheela,Word
21,244,Bryan,A,Walton,Wendy,Kahn
22,69,Steve,F,Masters,Peter,Krebs
23,210,Belinda,M,Newman,Peter,Krebs
24,163,Alex,M,Nayberg,Peter,Krebs
25,118,Don,L,Hall,Peter,Krebs
26,176,David,Oliver,Lawrence,Peter,Krebs
27,147,Sandra,NaN,Reátegui Alayo,Peter,Krebs
28,138,Samantha,H,Smith,Peter,Krebs
29,95,Jim,H,Scardelis,Peter,Krebs
...,...,...,...,...,...,...
261,70,David,J,Ortiz,Peter,Krebs
262,219,Sean,N,Chai,James,Hamilton
263,148,Jason,M,Watters,Peter,Krebs
264,140,Prasanna,E,Samarawickrama,Peter,Krebs
265,290,Ranjit,R,Varkey Chudukatil,Amy,Alberts
266,5,Gail,A,Erickson,James,Hamilton
267,252,Arvind,B,Rao,Sheela,Word
268,266,Peter,I,Connelly,Jean,Trenary
269,233,Magnus,E,Hedlund,Gary,Altman
270,83,Patrick,M,Cook,Peter,Krebs
271,251,Mikael,Q,Sandberg,Sheela,Word
272,241,David,J,Liu,Wendy,Kahn
273,25,James,R,Hamilton,Ken,Sánchez
274,108,Jinghao,K,Liu,Peter,Krebs
275,239,Mindy,C,Martin,Paula,Barreto de Mattos
276,27,Jo,A,Brown,Peter,Krebs
277,186,Shane,S,Kim,Peter,Krebs
278,38,Kim,B,Abercrombie,Peter,Krebs
279,154,Raymond,K,Sam,Peter,Krebs
280,114,Mindaugas,J,Krapauskas,Peter,Krebs
281,123,Vamsi,N,Kuppa,Sheela,Word
282,29,Mark,K,McArthur,Peter,Krebs
283,101,Houman,N,Pournasseh,Peter,Krebs
284,221,Chris,K,Norred,James,Hamilton
285,18,John,L,Wood,David,Bradley
286,46,Eugene,O,Kogan,Peter,Krebs
287,202,Tawana,G,Nusbaum,Peter,Krebs
288,289,Jae,B,Pak,Amy,Alberts
289,288,Rachel,B,Valdez,Amy,Alberts
290,999,Chadwick,NaN,Smith,Ken,Sánchez

Write a function called get_spend_by_order that takes as its two arguments the Pandas DataFrames "Orders" and "Customers", and returns a DataFrame with the following columns: "FirstName", "LastName", "Item", "TotalSpent", listing all customer names, their purchased items, and the total amount spent on that item (remember that the "Price" listed in "Orders" is the price per item).

Hint: Consider which ID column to merge on.

In [109]:
Customers = pd.read_excel("~/Desktop/DataProg/Customers.xls")
Orders = pd.read_excel("~/Desktop/DataProg/ItemsOrdered.xls")
def get_spend_by_order(Orders, Customers):
    customer = pd.read_excel("~/Desktop/DataProg/Customers.xls")
    order = pd.read_excel("~/Desktop/DataProg/ItemsOrdered.xls")
    cus = customer[["CustomerID", "FirstName", "LastName"]]
    cus_order = order[["CustomerID", "Item", "Quantity", "Price"]]
    cus_order["TotalSpent"] = cus_order["Quantity"]*cus_order["Price"]
    money = pd.merge(cus, cus_order, on = "CustomerID")
    money = money.drop(["CustomerID", "Quantity", "Price"], axis = 1)
    return money

In [110]:
get_spend_by_order(Orders, Customers)

   FirstName LastName                 Item  TotalSpent
0       John     Gray                 Raft       58.00
1       John     Gray            Life Vest      500.00
2       John     Gray            Rain Coat       18.30
3       John     Gray           Hoola Hoop       44.25
4       John     Gray              Lantern       16.00
5       John     Gray         Sleeping Bag      177.40
6      Leroy    Brown           Skateboard       33.00
7      Leroy    Brown              Lantern       58.00
8      Leroy    Brown               Helmet       22.00
9      Leroy    Brown         Pocket Knife       22.38
10     Leroy    Brown            Ear Muffs       12.50
11     Elroy   Keller            Parachute     1250.00
12     Elroy   Keller  Inflatable Mattress       38.00
13      Lisa    Jones              Compass        8.00
14     Shawn   Dalton           Pogo stick       28.00
15     Shawn   Dalton           Flashlight      112.00
16     Shawn   Dalton               Shovel       16.75
17   Anthony  Sanchez             Umbrella        4.50
18  Mary Ann   Howell         Sleeping Bag       89.22
19  Mary Ann   Howell             Unicycle      192.50
20    Donald   Davids            Lawnchair      128.00
21     Kevin    Smith             Umbrella        6.75
22     Kevin    Smith               Pillow        8.50
23     Kevin    Smith                 Tent       79.99
24    Conrad    Giles            Ski Poles       51.00
25    Conrad    Giles                 Tent       88.00
26   Isabela    Moore             Unicycle      180.79
27   Isabela    Moore           Snow Shoes       45.00
28   Isabela    Moore              Bicycle      380.50
29   Isabela    Moore                Canoe      280.00
30   Isabela    Moore           Flashlight        4.50
31   Isabela    Moore         Canoe paddle       80.00

Write a function called get_order_location that takes three arguments: "Orders", "Customers", and "Territory", and returns a DataFrame containing the following columns: "CustomerID", "Name", and "TotalItems", that gives, for each order, the CustomerID, the name of the territory where the order was placed, and the total number of items ordered (yes, 2 ski poles counts as 2 items). 

Hint: Consider groupby then sum the quantities.

In [199]:
Territory = pd.read_excel("~/Desktop/DataProg/SalesTerritory.xls")
Customers = pd.read_excel("~/Desktop/DataProg/Customers.xls")
Orders = pd.read_excel("~/Desktop/DataProg/ItemsOrdered.xls")

In [200]:
def get_order_loction(Orders, Customers, Territory):
    order = Orders[["CustomerID", "Quantity"]]
    cus = Customers[["CustomerID", "SalesTerritoryID"]]
    cus = cus.rename(columns = {"SalesTerritoryID": "TerritoryID"})
    terry = Territory[["TerritoryID", "Name"]]
    cus_terry = pd.merge(cus, terry, on = "TerritoryID")
    # merge customer with territory on territory id
    order_cus_terry = pd.merge(order, cus_terry, on = "CustomerID")
    order_loc = order_cus_terry.groupby(["CustomerID", "Name"])["Quantity"].sum()
    orderloc = order_loc.to_frame().reset_index()
    orderloc = orderloc.rename(columns = { 0: "TotalItems"})
    return orderloc

In [201]:
get_order_loction(Orders, Customers, Territory)

    CustomerID       Name  Quantity
0        10101  Northwest        12
1        10298  Southwest         6
2        10299  Northwest         2
3        10315    Central         1
4        10330  Northwest         6
5        10339  Southwest         1
6        10410  Southeast         2
7        10413  Southwest         4
8        10438    Central         3
9        10439    Central         3
10       10449  Southwest         7

Write a function called employee_info that takes one argument: "Employees", and returns a DataFrame containing the following columns: JobTitle, NumberOfEmployees, and MeanVacationHours, containing all job titles, the number of employees with that job title, and the mean number of vacation hours for employees with that job title.

Hint: Consider groupby then count.

In [270]:
Employees = pd.read_excel("~/Desktop/DataProg/Employees.xls")

In [273]:
def employee_info(Employees):
    employee = Employees[["JobTitle", "EmployeeID"]]
    job_num = employee.groupby(["JobTitle"]).count()
    job_num = job_num.rename(columns = { "EmployeeID": "NumberOfEmployees"})
    job_num.reset_index()
    hours = Employees[["JobTitle", "VacationHours"]]
    hour = hours.groupby(["JobTitle"])["VacationHours"].sum()
    hour = hour.to_frame().reset_index()
    emp_hour = pd.merge(job_num, hour, on = "JobTitle")
    emp_hour["MeanVacationHours"] = emp_hour["VacationHours"] / emp_hour["NumberOfEmployees"]
    emp_hour = emp_hour.drop(["VacationHours"], axis=1)
    return emp_hour

In [274]:
employee_info(Employees)

,JobTitle,NumberOfEmployees,MeanVacationHours
0,Accountant,2,58.500000
1,Accounts Manager,1,57.000000
2,Accounts Payable Specialist,2,63.500000
3,Accounts Receivable Specialist,3,61.000000
4,Application Specialist,4,72.500000
5,Assistant to the Chief Financial Officer,1,56.000000
6,BI Professor,1,55.000000
7,Benefits Specialist,1,51.000000
8,Buyer,9,56.000000
9,Chief Executive Officer,1,99.000000
10,Chief Financial Officer,1,0.000000
11,Control Specialist,2,75.500000
12,Database Administrator,2,66.500000
13,Design Engineer,3,5.000000
14,Document Control Assistant,2,78.500000
15,Document Control Manager,1,77.000000
16,Engineering Manager,1,2.000000
17,European Sales Manager,1,21.000000
18,Facilities Administrative Assistant,1,87.000000
19,Facilities Manager,1,86.000000
20,Finance Manager,1,55.000000
21,Human Resources Administrative Assistant,2,52.500000
22,Human Resources Manager,1,54.000000
23,Information Services Manager,1,65.000000
24,Janitor,4,89.500000
25,Maintenance Supervisor,1,92.000000
26,Marketing Assistant,3,42.000000
27,Marketing Manager,1,40.000000
28,Marketing Specialist,5,46.000000
29,Master Scheduler,1,44.000000
...,...,...,...
38,Production Supervisor - WC40,3,72.000000
39,Production Supervisor - WC45,3,75.000000
40,Production Supervisor - WC50,3,78.000000
41,Production Supervisor - WC60,3,81.000000
42,Production Technician - WC10,17,91.000000
43,Production Technician - WC20,22,10.500000
44,Production Technician - WC30,25,34.000000
45,Production Technician - WC40,26,59.500000
46,Production Technician - WC45,15,80.000000
47,Production Technician - WC50,26,46.653846
48,Production Technician - WC60,26,26.500000
49,Purchasing Assistant,2,50.500000
50,Purchasing Manager,1,49.000000
51,Quality Assurance Manager,1,80.000000
52,Quality Assurance Supervisor,1,81.000000
53,Quality Assurance Technician,4,83.500000
54,Recruiter,2,49.500000
55,Research and Development Engineer,2,62.500000
56,Research and Development Manager,2,38.500000
57,Sales Representative,14,31.000000
58,Scheduling Assistant,4,46.500000
59,Senior Design Engineer,1,3.000000
60,Senior Tool Designer,2,27.500000
61,Shipping and Receiving Clerk,2,94.500000
62,Shipping and Receiving Supervisor,1,93.000000
63,Stocker,3,97.000000
64,Tool Designer,2,8.500000
65,Vice President of Engineering,1,1.000000
66,Vice President of Production,1,64.000000
67,Vice President of Sales,1,10.000000